{{ define "mocks/edit" }}

{{ template "header" }}

<div class="container">
	<div>
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>Edit "{{.Name}}" mock</h3>
				</div>
				<form role="form" method="post" action="/mocks/{{.ID}}">
					{{ template "mocks/fields" . }}
					<div>
						<br>
						<button type="submit" class="btn btn-primary">Save</button>
						<a class="btn btn-danger"data-confirm="Are you sure?" data-method="delete" href="/mocks/{{.ID}}/delete" rel="nofollow">
							Delete
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{{ template "footer" }}

{{ end }}