{{ define "mocks/fields" }}

<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab" href="#general">General</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#response-body">Response body</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#headers">Headers</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#advanced">Advanced</a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade show active" id="general">
		<p style="margin-top: 10px;">General mock properties</p>
		<div class="form-group">
			<label for="mockName" class="form-label mt-4">Name</label>
			<input class="form-control" id="mockName" name="mockName" aria-describedby="mockNameHelp" value="{{.Name}}">
			<small id="mockNameHelp" class="form-text text-muted">Enter a name for this mock</small>
		</div>
		<div class="form-group">
			<label for="mockDescription" class="form-label mt-4">Description</label>
			<textarea class="form-control" id="mockDescription" name="mockDescription" style="height: auto;" rows="4" aria-describedby="mockDescriptionHelp">{{.Description}}</textarea>
			<small id="mockDescriptionHelp" class="form-text text-muted">Enter a description</small>
		</div>
		<div class="form-group row">
			<div class="col-sm-6">
				<label for="mockRequestMethod" class="form-label mt-4">Request method</label>
				<select class="form-select" id="mockRequestMethod" name="mockRequestMethod" aria-describedby="mockRequestMethodHelp">
					<option>GET</option>
					<option>POST</option>
					<option>PUT</option>
					<option>PATCH</option>
					<option>DELETE</option>
					<option>OPTIONS</option>
					<option>HEAD</option>
				</select>
				<small id="mockRequestMethodHelp" class="form-text text-muted">Choose the method that matches this mock</small>
			</div>
			<div class="col-sm-6">
				<label for="mockStatus" class="form-label mt-4">Status</label>
				<input class="form-control" id="mockStatus" name="mockStatus" aria-describedby="mockStatusHelp" value="{{.Status}}">
				<small id="mockStatusHelp" class="form-text text-muted">Enter the HTTP status code of this mock's response</small>
			</div>
		</div>
		<div class="form-group">
			<label for="mockRoutePath" class="form-label mt-4">Route path</label>
			<input class="form-control" id="mockRoutePath" name="mockRoutePath" aria-describedby="mockRoutePathHelp" value="{{.RoutePath}}">
			<small id="mockRoutePathHelp" class="form-text text-muted">Enter the route you want mock</small>
		</div>
	</div>
	<div class="tab-pane fade" id="response-body">
		<p>Response body properties</p>
		<div class="form-group row">
			<div class="col-sm-6">
				<label for="mockBodyType" class="form-label mt-4">Body type</label>
				<select class="form-select" id="mockBodyType" name="mockBodyType" aria-describedby="mockBodyTypeHelp">
					<option>static</option>
				</select>
				<small id="mockBodyTypeHelp" class="form-text text-muted">Choose the type of the response body</small>
			</div>
			<div class="col-sm-6">
				<label for="mockContentType" class="form-label mt-4">Content type</label>
				<select class="form-select" id="mockContentType" name="mockContentType" aria-describedby="mockContentTypeHelp">
					<option>application/json</option>
					<option>application/xml</option>
				</select>
				<small id="mockContentTypeHelp" class="form-text text-muted">Choose the content type to be set to the response</small>
			</div>
		</div>
		<div class="form-group">
			<label for="mockBodyContent" class="form-label mt-4">Body content</label>
			<textarea class="form-control" id="mockBodyContent" name="mockBodyContent" style="height: auto;" rows="10" aria-describedby="mockBodyContentHelp">{{.BodyContent}}</textarea>
			<small id="mockBodyContentHelp" class="form-text text-muted">Fill in the response's body. Depending on your selection, the response will be transformed appropriately</small>
		</div>
	</div>
	<div class="tab-pane fade" id="headers">
		<p>Response headers</p>
	</div>
	<div class="tab-pane fade" id="advanced">
		<p>Advanced mock configuration</p>
	</div>
</div>

{{ end }}