{{ define "mocks/index" }}

{{ template "header" }}

<div class="container">
	<div>
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>List of all mocks</h3>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Method</th>
							<th scope="col">Route</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{{ range $mock := . }}
							<tr>
								<td>{{ $mock.Name }}</td>
								<td>{{ $mock.RequestMethod }}</td>
								<td>{{ $mock.RoutePath }}</td>
								<td>
									<a href="/mocks/{{.ID}}/edit" target="_blank">edit</a>
									<a data-confirm="Are you sure?" data-method="delete" href="/mocks/{{.ID}}/delete" rel="nofollow">delete</a>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{{ template "footer" }}

{{ end }}