{{ define "mocks/new" }}

{{ template "header" }}

<div class="container">
	<div>
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
					<h3>Create new mock</h3>
				</div>
				<form role="form" method="post" action="/mocks">
					{{ template "mocks/fields" }}
					<div>
						<br>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{{ template "footer" }}

{{ end }}