{{ define "footer" }}

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/assets/js/bootstrap.js"></script>

		<script src="/assets/js/app.js"></script>
	</body>
</html>

{{ end }}