{{ define "header" }}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mocker</title>

		<!-- Bootstrap -->
		<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/app.css" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="/assets/js/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
			<div class="container">
				<a href="../" class="navbar-brand">Mocker</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" href="/mocks">All mocks</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/mocks/new">Create new mock</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

{{ end }}